.dokan-spinner {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/spinner-2x.gif') center center no-repeat;
  z-index: 99;
  background-size: 20px;
}
.dokan-dashboard .post-box-container {
  width: 49%;
  float: left;
}
.dokan-dashboard .meta-box-sortables {
  margin: 0 8px;
  min-height: 100px;
}
.dokan-dashboard .postbox .main {
  padding: 0 12px 11px;
}
.dokan-dashboard .postbox .main:before,
.dokan-dashboard .postbox .main:after {
  content: " ";
  display: table;
}
.dokan-dashboard .postbox .main:after {
  clear: both;
}
.dokan-dashboard .postbox .main a {
  text-decoration: none;
}
.dokan-dashboard .postbox .main p {
  margin: 0;
}
.dokan-dashboard .postbox .main h4 {
  margin: 0 0 7px 0;
  padding: 0 0 7px 0;
  border-bottom: 1px solid #EEE;
}
.dokan-dashboard .postbox .inside {
  margin: 10px 0 0 0;
  padding: 0;
}
.dokan-dashboard .mark-red a {
  color: red;
}
.dokan-dashboard .mark-green a {
  color: green;
}
.dokan-dashboard .dokan-left {
  float: left;
  width: 45%;
}
.dokan-dashboard .dokan-right {
  float: right;
  width: 45%;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 23px;
}
.dokan-settings-radio-image {
  display: block;
  width: 50%;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 15px;
  position: relative;
  line-height: 0;
  border: 1px solid #ededed;
  padding: 4px;
}
.dokan-settings-radio-image img {
  max-width: 100%;
  z-index: 1;
}
.dokan-settings-radio-image .current-option-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #4CAF50;
  color: #fff;
  padding: 4px;
  z-index: 2;
  line-height: 1.3;
}
.dokan-settings-radio-image .active-option {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: opacity 0.4s ease;
}
.dokan-settings-radio-image .active-option button {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -23px;
  margin-left: -58px;
}
.dokan-settings-radio-image:hover .active-option {
  opacity: 1;
}
.dokan-settings-radio-image.active .active-option {
  display: none;
}
.dokan-settings-radio-image.not-active .current-option-indicator {
  display: none;
}

.dokan-spinner {
  position: absolute;
  width: 20px;
  height: 20px;
  background: url('../images/spinner-2x.gif') center center no-repeat;
  z-index: 99;
  background-size: 20px;
}
.admin-report-container {
  margin-top: 10px;
}
.admin-report-container:before,
.admin-report-container:after {
  content: " ";
  display: table;
}
.admin-report-container:after {
  clear: both;
}
.admin-report-container .dokan-reports-sidebar {
  width: 20%;
  float: left;
  margin-right: 20px;
}
.admin-report-container ul.chart-legend {
  background: #fff;
  list-style: none;
  margin: 12px 0 0 0;
  padding: 0;
  border: 1px solid #ededed;
}
.admin-report-container ul.chart-legend li {
  color: #aaa;
  padding: 13px 18px;
  margin: 0;
  border-bottom: 1px solid #ededed;
  font-weight: normal;
  font-size: 13px;
}
.admin-report-container ul.chart-legend li strong {
  display: block;
  color: #464646;
  font-size: 24px;
  line-height: 30px;
  font-weight: normal;
}
.admin-report-container .chart-container {
  float: left;
  width: 75%;
}
.admin-report-container .chart-placeholder.main {
  width: 100%;
  height: 450px;
}
.chart-tooltip {
  position: absolute;
  display: none;
  line-height: 1;
  background: #333;
  color: #fff;
  padding: 3px 5px;
  font-size: 11px;
  border-radius: 3px;
}
